.container {
  max-width: 1410px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 1450px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

/*  */
/*  */

.blog {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 150px;
  width: 100%;
}

.heading {
  text-align: center;
  margin-bottom: 45px;
}

.heading h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.heading p {
  max-width: 750px;
  margin: auto;
}

.blogPosts {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

@media only screen and (min-width: 1200px) {
  .blogPosts {
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
}

@media only screen and (max-width: 992px) {
  .blogPosts {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .heading h2 {
    font-size: 25px;
  }
}
